img {
  display: block;
  max-width: 100%;
  height: auto;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
  max-width: 1200px;
}

.gallery__item {
  flex-basis: calc(100% / 3 - 15px);
  padding: 0;
  margin: 0;
  height: 300px;
  list-style: none;
  margin-top: 15px;
  margin-left: 15px;
}
.gallery__img {
  height: 100%;
  object-fit: cover;
}
